.dialogs {
  display: flex;
  justify-content: space-between;
}

.interlocutors {
  width: 230px;
  height: 100px;
  padding: 5px;
}

.correspondence {
  width: 755px;
  height: 100px;
  padding: 5px;
}
