.container {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-top: 20px !important;
  max-width: 935px;
  width: 100%;
}

.menuList {
  padding: 0 !important;
}

.activePage {
  border-left: 3px rgb(175, 171, 171) solid !important;
}
