.box {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  margin: 10px !important;
}
.form {
  margin-top: 10px !important;
}

.textField {
  margin-bottom: 8px !important;
  margin-top: 16px !important;
  width: 100% !important;
}

.buttonSubmit {
  width: 100% !important;
  margin-top: 24px !important;
  margin-bottom: 16px !important;
}
