.formInput {
  display: inline-block;
  align-content: stretch;
  align-items: stretch;
  flex-direction: column;
  flex: 0 0 auto;
}

.formInput input {
  background: 0 0;
  border: 1px solid #dbdbdb;
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
  border-radius: 3px;
  box-sizing: border-box;
  color: #262626;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  flex: 0 1 355px;
  font-size: 16px;
  height: 32px;
  padding: 0 10px;
  width: 295px;
}

.formControll {
  justify-content: flex-start;
  margin-bottom: 16px;
  width: 570px;
  display: flex;
  flex-direction: row;
}

@media (min-width: 736px) {
  .formControll {
    flex-direction: row;
  }
}
@media (max-width: 735px) {
  .formControll {
    flex-direction: column;
    margin-bottom: 8px;
  }
}

.formLabel {
  box-sizing: border-box;
  color: #262626;
  font-size: 16px;
  font-weight: 600;
  margin-top: 6px;
  width: 200px;
}

@media (min-width: 736px) {
  .formLabel {
    padding-left: 32px;
    padding-right: 32px;
    text-align: right;
  }
}
@media (max-width: 735px) {
  .formLabel {
    flex-basis: 25px;
    padding: 0 20px;
  }
}

.formError {
  color: red;
  font-size: 15px;
  margin-bottom: 5px;
}

//settings profile photo

.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
  width: 570px;
}

.photoUser {
  box-sizing: border-box;
  color: #262626;
  margin-top: 6px;
  width: 200px;
  padding-left: 130px;
  padding-right: 32px;
  text-align: right;
}

.img {
  height: 38px;
  width: 38px;
}

.nameUser {
  font-size: 24px;
  font-weight: normal;
  line-height: 38px;
}


.formSubmit {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  width: 570px;
  flex-direction: row;
  a {
    margin-left: 10px;
    color: inherit;
  }

}